.top-bar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 3.5rem;
    background-color: #3E5F44;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;

}
.top-bar button{
    background-color: #93DA97;
    color: #000;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
}

.brand-name {
    font-size: 1.5rem;
    color: #E8FFD7;
    font-family: 'Georgia', serif;
}
